/* * {
  border: 1px solid black;
} */

#root {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

#titles {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 1.5rem;
  margin-bottom: 5px;
}

#titles > div {
  text-align: center;
  margin: 1rem;
}

#break-increment, #break-decrement, #session-increment, #session-decrement {
  cursor: pointer;
}